.linkedin {
  background-image: url("/images/linkedin-shiny-icon-logo-5.png");
  width: 20px;
  height: 20px;
}
.github {
  background-image: url("/images/github.png");
  width: 20px;
  height: 20px;
}
.twitter {
  background-image: url("/images/twitter3.png");
  width: 20px;
  height: 20px;
}
.facebook {
  background-image: url("/images/facebook.png");
  width: 10px;
  height: 19px;
}
.googleplus {
  background-image: url("/images/googleplus.png");
  width: 21px;
  height: 19px;
}
.dribbble {
  background-image: url("/images/dribbble.png");
  width: 21px;
  height: 19px;
}
.instagram {
  background-image: url("/images/insta.png");
  width: 20px;
  height: 20px;
}
.flickr {
  background-image: url("/images/flickr-logo.png");
  width: 20px;
  height: 20px;
}
