@use "./functions.scss" as fn;
@use "./mixins.scss" as mx;

$px200: fn.units(25);
$px40: fn.units(5);
$px16: fn.units(2);

.container {
  padding: 0 fn.units(4);

  main {
    min-height: 100vh;
    padding: fn.units(8) 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.flexdiv {
  display: flex;
  align-items: flex-start;
  gap: $px40;
  max-width: fn.units(100);
  flex-wrap: nowrap;
}

.me {
  max-width: $px200;
  max-height: $px200;
  border-radius: fn.units(15.6);
}

.skills {
  margin-bottom: $px40;
  font-size: fn.units(2);
  font-weight: 600;
  li {
    margin-bottom: fn.units();
  }
}

.socialicons {
  padding-inline-start: 0;
  li {
    display: inline;
  }
  a {
    display: inline-block;
    margin-right: fn.units(1);
  }

  .linkedin {
    @include mx.social("/images/linkedin-shiny-icon-logo-5.png");
  }
  .github {
    @include mx.social("/images/github.png");
  }
  .twitter {
    @include mx.social("/images/twitter3.png");
  }
  .dribble {
    @include mx.social("/images/dribble.png");
  }
  .instagram {
    @include mx.social("/images/insta.png");
  }
}
.footer {
  margin-top: $px16;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: $px16 0;

    h1 {
      margin: 0 0 fn.units(0.6) 0;
    }

    ul {
      margin-bottom: $px16;
    }
  }

  .socialicons,
  .skills {
    margin: fn.units(2) 0;
  }

  .socialicons li {
    margin-right: fn.units(1);
  }

  .flexdiv {
    gap: $px16;
    flex-direction: column;
    align-items: center;
  }
}
